*{
    box-sizing:border-box;
    

}

h1 {
color:white;
font-size:30px;

}

#logo {
    width:70px;
    float:left;
}

.img-p{
    width:200px;

}
            


ul {
    list-style: none;
  

}


nav {
    float:left;
    
    margin-left: 60%;
    
    

    

}

#menu li {
    display: inline-block;
    padding:5px;

}

#titulo-1{
    position:absolute;
    top: 40px;
    left:20px;
}

a:link{
    text-decoration: none;
}
 #articulo1 {

    text-align:center;
}



#contenedor{
    max-width:70%;
    height:auto;
    margin: 0px auto 0px auto;
    background-color:white;
    padding: 70px 80px 0px 80px;
}

#inicio {

    position:relative;
    
   /* margin:0px 20px 0px 20px;*/
}
#img_masc{
    height:500px;
    width:100%;
   
}

body {

    background-color:grey;
}

#articulo2{
    float:left;
    width:50%;
    text-align: center
}

#articulo3 {
    width:50%;
    float:left;

    text-align: center
}


.mascotas {

    width:30%;
    text-align:center;
    padding: 0px 5px 0px 5px;
}
#perros{
float:left;
height:100%;

}

#gatos {
    float:left;
    height:100%;
}

#elefantes{
    float:left;
    height:100%;
 
}


#img-g{
    width:200px;

}

#img-e{
    width:200px;


}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  header {
      margin-bottom: 20px;
  }

